<a href="https://colab.research.google.com/github/julaneelee/Basic-Python-for-Data-analysis/blob/main/Basic_Python_for_Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

https://www.w3schools.com/python

## Outline

1.   Understanding "Print" command
2.   Creating a comment
3.   Variable
5.   Data type

## Understanding "Print" command

In [1]:
print("Hello World")
print("Hello","World") # print the result with space
print("Hello"+"World") #print with no space
print("Hello, World")
print(12)
print(45+3)
print(45*3)
print("45ab")
#print("333"+555) #error
#print("ABC"+123) #error
#print(45ab)   #error
print("ABC");print(123);print("Hello Colleague!")  #it does not print in the same line
print("ABC", end="");print(123, end="");print("Hello Colleague!")  #print in the same line but with no space --> this represents nothing ("")
print("ABC", end=" ");print(123, end=" ");print("Hello Colleague!") #print in the same line and with space !!!**Note that:  end = " " , it could be anything inside the double quote such as space " " OR other symbols "+", ",", "abc","*" etc.
print("Hello", end=" "); print("World")
print("I am", 28, "years old.")

Hello World
Hello World
HelloWorld
Hello, World
12
48
135
45ab
ABC
123
Hello Colleague!
ABC123Hello Colleague!
ABC 123 Hello Colleague!
Hello World
I am 28 years old.

## Creating a comment
à¹ŠUsing "#" in front of the coding for the line you dont want to run

In [2]:
#This is a comment1
#print("Hello World")
print("ABC") #this is a comment2

ABC

## Operators

Arithmetic operator

* "+" Addition	x + y
* "-"	Subtraction	x - y
* "*"	Multiplication	x * y
* "/"	Division	x / y
* %	Modulus	x % y
*  "**"	Exponentiation	x ** y
* "//"	Floor division	x // y

In [ ]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

Assignment Operators
https://www.w3schools.com/python/python_operators_assign.asp

![Screenshot_4.png]()

Comparison operator


Comparison operators return True or False based on the comparison:



![Screenshot_5.png]()

In [88]:
#Return TRUE or FALSE

x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [ ]:
x = 5

print(1 < x < 10)

print(1 < x and x < 10)

Logical Operators

![image.png]()

In [ ]:
#Return TRUE or FALSE

x = 5

print(x > 0 and x < 10)

Identity Operators

![image.png]()

The is operator returns True if both variables point to the same object:

In [90]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

Difference Between is and ==
* is - Checks if both variables point to the same object in memory
* == - Checks if the values of both variables are equal

In [89]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

Membership Operator

![image.png]()

In [ ]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

In [ ]:
fruits = ["apple", "banana", "cherry"]

print("pineapple" not in fruits)

In [ ]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

## Variable

Rules for Python variables:

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
5. A variable name cannot be any of the Python keywords.

In [76]:
x = 5
y = "Honey"
print(x)
print(y)

5
Honey

In [77]:
x = 4       # x is of type int
x = "Japan" # x is now of type str
print(x)

Japan

In [78]:
x = str(5)    # x will be '5'  #string à¸•à¸±à¸§à¸­à¸±à¸à¸©à¸£
y = int(5)    # y will be 5  #integer à¸ˆà¸³à¸™à¸§à¸™à¹€à¸•à¹‡à¸¡
z = float(5)  # z will be 5.0 #float à¸ˆà¸³à¸™à¸§à¸™à¸ˆà¸£à¸´à¸‡
print(x,",",y,",",z)

5 , 5 , 5.0

In [79]:
myvar = "John1" ; print(myvar)
my_var = "John2" ; print(my_var)
_my_var = "John3"; print(_my_var)
myVar = "John4"; print(myVar)
MYVAR = "John5"; print(MYVAR)
myvar2 = "John6"; print(myvar2)
#Variable is case-sensitive

John1
John2
John3
John4
John5
John6

In [80]:
2myvar = "John"  #error; illegal variable name
my-var = "John"  #error; illegal variable name; Dash is not permitted
my var = "John"  #error; illegal variable name

#SyntaxError: invalid decimal literal

SyntaxError: invalid decimal literal (ipython-input-4066203491.py, line 1)

In [81]:
#Assigning multiple variables
x, y, z = "Orange", "Banana", "Cherry"
print(x,y,z)
print(x)
print(y)
print(z)

Orange Banana Cherry
Orange
Banana
Cherry

In [82]:
x = y = z = "Orange"
print(x,y,z)
print(x); print(y); print(z)

Orange Orange Orange
Orange
Orange
Orange

In [83]:
fruits = ["apple", "banana", "cherry"] #3 values in the list
x, y, z = fruits     #3  values  assign to same variables
print(x); print(y); print(z)

apple
banana
cherry

In [84]:
#Example of an Error case
fruits = ["apple", "banana", "cherry","orange"]  #4 values in the list
x, y, z = fruits   # assign only 3 values to same variable  --> fruits != fruits --> Not possible !
print(x); print(y); print(z)

#ValueError: too many values to unpack (expected 3)

ValueError: too many values to unpack (expected 3)

In [ ]:
x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [ ]:
#Example of error case

x = 5
y = "John"
print(x + y)

In [85]:
#Assigning the variable in function

#Global variable
x = "awesome"  #Assigning outside function, it will be used inside function

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [86]:
x = "awesome"   #Global variable


def myfunc():
  x = "fantastic"     #Assigning new value to same variable, it will only be used inside function , "Local variable"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [87]:
x = "awesome"
print(x)

def myfunc():
  global x
  x = "fantastic"

myfunc()

print(x)
print("Python is " + x)

awesome
fantastic
Python is fantastic

## Data type

Python has the following data types built-in by default, in these categories:
*   Text Type:	**str**
*   Numeric Types:	**int, float, complex**
*   Sequence Types: **list, tuple, range**
*   Mapping Type:	**dict**
*   Set Types:	**set, frozenset**
*  Boolean Type:	**bool**
*  Binary Types:	**bytes, bytearray, memoryview**
*  None Type:	**NoneType**

In [35]:
x = 5
print(type(x))
y="5"
print(type(y))

a = "Hello World"	#str
b = 20	#int
c = 20.5	#float
d = 1j	#complex
e = ["apple", "banana", "cherry"]  	#list
f = ("apple", "banana", "cherry")	  #tuple
g = range(6)	#range
h = {"name" : "John", "age" : 36}	#dict
i = {"apple", "banana", "cherry"}	#set
j = frozenset({"apple", "banana", "cherry"})	#frozenset
k = True	#bool
l = b"Hello"	#bytes
m = bytearray(5)	#bytearray
n = memoryview(bytes(5))	#memoryview
o = None

print(type(d))

<class 'int'>
<class 'str'>
<class 'complex'>

## Number Type

There are three numeric types in Python:
* int
* float
* complex

In [39]:
#Number Type
#integer
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

#Float
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

#Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [38]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Casting variable: Specify Variable Type
Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.
* int()
* float()
* str()

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### String

 surrounded by single quotation marks, or double quotation marks (' ' OR  " ")

In [40]:
print("Hello")
print('Hello')

print("It's alright")
print("He is called 'Johnny'") # quotes inside quotes
print('He is called "Johnny"')

Hello
Hello
It's alright
He is called 'Johnny'
He is called "Johnny"

In [41]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""   #or it could be triple single quotes
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Slicing string

In [43]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
#Slice from the start
b = "Hello, World!"
print(b[:5])

In [ ]:
#Slice from the end
b = "Hello, World!"
print(b[2:])

In [ ]:
#Negative indexing
b = "Hello, World!"
print(b[-5:-2])

Modify String
* var.upper()
* var.lower()
* var.strip()
* var.replace()
* var.splt()
when var = value in string ex. "Hello, World!"

In [46]:
#Upper Case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
#Lower case
a = "Hello, World!"
print(a.lower())

In [ ]:
#Remove Whitespace, from the beginning or the end
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [ ]:
# replaces a string with another string
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
# splits the string into substrings if it finds instances of the separator. It will returns a list where the text between the specified separator becomes the list items
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

Concatenate string

In [47]:
a = "Hello"
b = "World"
c = a + b
print(c)
d= a + " " + b
print(d)

HelloWorld
Hello World

**Format String (F-String)**

put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

Ex.
a= f"XXXXX {var} XXX"

**List of all the formatting types**:
Ex.
a= f"XXXXX {var:.2f} XXX"

* :<		Left aligns the result (within the available space)
* :>		Right aligns the result (within the available space)
* :^		Center aligns the result (within the available space)
* :=		Places the sign to the left most position
* :+		Use a plus sign to indicate if the result is positive or negative
* :-		Use a minus sign for negative values only
* : 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)
* :,		Use a comma as a thousand separator
* :_		Use a underscore as a thousand separator
* :b		Binary format
* :c		Converts the value into the corresponding Unicode character
* :d		Decimal format
* :e		Scientific format, with a lower case e
* :E		Scientific format, with an upper case E
* :f		Fix point number format
* :F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)
* :g		General format
* :G		General format (using a upper case E for scientific notations)
* :o		Octal format
* :x		Hex format, lower case
* :X		Hex format, upper case
* :n		Number format
* :%		Percentage format

In [ ]:
#Example of an Error
age = 36
#This will produce an error:
txt = "My name is John, I am " + age  # Error bacause the data type is different between 2 variables
print(txt)

In [48]:
#Example 1
#To combine 2 different data type together in the same variable
#F-string
age=33
Name="Jane"
text= f"My name is {Name}. I am {age}"
print(text)

My name is Jane. I am 33

In [51]:
#Example2
price=1250
print(f"The price is {price:.2f} baht")

pi=3.14159265358979
print(f"Pi value equals to {pi:.4f}")

The price is 1250.00 baht
Pi value equals to 3.1416

In [53]:
#Example3
price = 59
tax = 0.25
txt = f"The price is {price + (price * tax):.4f} dollars"
print(txt)

The price is 73.7500 dollars

In [56]:
#Example4 #f-string #modify string
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [ ]:
#Example5 #adding comma as a thousand separator
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

In [55]:
#Example6 #f-string #If-else   #****
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

In [58]:
#Example7 #f-string #function #****
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000):.4f} meter altitude"
print(txt)

The plane is flying at a 9144.0000 meter altitude

String format()

In [59]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
#Index Numbers
#use index numbers (a number inside the curly brackets {0}) to be sure the values are placed in the correct placeholders
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

In [61]:
#Named Indexes
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

**Escape Character**

To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.

* 	\' Single Quote
*    \\	Backslash
*   \n	New Line
*   \r	Carriage Return
*   \t	Tab
*   \b	Backspace

In [71]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)
txt1="Nam\npueng"
print(txt1)
print("Nam\tpueng")
print("Nam\bpueng")
print("Nam\rpueng")
print("Nam\\pueng")

We are the so-called "Vikings" from the north.
Nam
pueng
Nam	pueng
Nampueng
pueng
Nam\pueng

**String Method**
https://www.w3schools.com/python/python_strings_methods.asp

Top Commonly Used String Methods (Most Important)

ðŸ”¹ Very Frequently Used (Core)

These are the must-know ones:

* lower() â€“ convert to lowercase

* upper() â€“ convert to uppercase

* strip() â€“ remove spaces at both ends

* split() â€“ split string into a list

* join() â€“ join list into a string

* replace() â€“ replace part of a string

* find() â€“ find position of substring (no error)

* startswith() â€“ check starting text

* endswith() â€“ check ending text

* count() â€“ count occurrences
*  rsplit()	splits a string from the right side and returns a list.
* rstrip() removes trailing characters from the RIGHT side of a string and returns a new string.



ðŸ”¹ Commonly Used for Validation / Checking

Very useful for input checking, data cleaning:

* isdigit()

* isalpha()

* isalnum()

* isspace()

* islower()

* isupper()

## User Input
ask the user for input.

In [ ]:
name = input("Enter your name:")
print(f"Hello {name}")
fav1 = input("What is your favorite animal:")
fav2 = input("What is your favorite color:")
fav3 = input("What is your favorite number:")
print(f"Do you want a {fav2} {fav1} with {fav3} legs?")

## Mathematics in Python

ðŸ”¹ Built-in Math Functions (No import needed)
* abs(x)        # absolute value
* round(x)      # round to nearest integer
* round(x, n)   # round to n decimal places
* pow(x, y)     # x raised to power y
* min(a, b)     # smallest value
* max(a, b)     # largest value
* sum(iterable) # sum of values

Need to import MATH MODULE

import math

* math.sqrt(x)     # square root
* math.ceil(x)     # round up
* math.floor(x)    # round down
* math.factorial(x)# factorial
* math.fabs(x)     # absolute value (float)

In [75]:
import math

x = input("Enter a number:")

#find the square root of the number:
y = math.sqrt(float(x))

print(f"The square root of {x} is {y}")

Enter a number:4
The square root of 4 is 2.0

In [97]:
print(round(3.14159,2)) # 3.14
print(pow(2, 3))        # 8
print(min(4, 7) )       # 4
print(max(4, 7))        # 7
print(sum([1, 2, 3]))   # 6

print(math.sqrt(16))      # 4.0
print(math.ceil(3.2))  # 4
print(math.floor(3.8))    # 3
print(math.factorial(5))  # 120
print(math.fabs(-7))     # 7.0

3.14
8
4
7
6
4.0
4
3
120
7.0

## Boolean
Booleans represent one of two values: True or False.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [99]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

The bool() function allows you to evaluate any value, and give you True or False in return,

In [98]:
print(bool("Hello"))
print(bool(15))

True
True

## Data collection
4 built-in data types in Python used to store collections of data,
- List, Tuple, Set, and Dictionary,


![image.png]()

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

## Lists

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

### List items
List items are indexed, the first item has index [0], the second item has index [1] etc.

In [93]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [92]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

### Change items value

In [94]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [95]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

### Insert items

Insert at specific index without replacing

In [96]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

### Add list items
Using the append() method to append an item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

### Remove Specified Item

*If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

### Remove Specified Index
The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

If you do not specify the index, the pop() method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

The del keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

Empty the list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

### Sort Lists
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

Sort the list numerically:

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

To sort descending, use the keyword argument reverse = True:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [100]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

### Copy list
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [ ]:
#1 Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
#2 Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
#3Make a copy of a list with the : operator:

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

### Join Lists

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

Or you can use the extend() method, where the purpose is to add elements from one list to another list:

In [ ]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

### List Methods
Python has a set of built-in methods that you can use on lists.


* append()	-Adds an element at the end of the list
* clear()	-Removes all the elements from the list
* copy()	-Returns a copy of the list
* count()	-Returns the number of elements with the specified value
* extend()	-Add the elements of a list (or any iterable), to the end of the current list
* index()	-Returns the index of the first element with the specified value
* insert()	-Adds an element at the specified position
* pop()	-Removes the element at the specified position
* remove()	-Removes the item with the specified value
* reverse()	-Reverses the order of the list
* sort()	-Sorts the list

## Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [101]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

Add Items
* Adding items in the tuple must turns tuple to list first and change list back to tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

Remove items

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

## Set

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

### Add items

Add an item to a set, using the add() method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [102]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'cherry', 'banana', 'apple'}

### Remove items

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

### Join Sets

There are several ways to join two or more sets in Python.

- The union() and update() methods joins all items from both sets.

- The intersection() method keeps ONLY the duplicates.

- The difference() method keeps the items from the first set that are not in the other set(s).

- The symmetric_difference() method keeps all items EXCEPT the duplicates.

The union() method returns a new set with all items from both sets.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [103]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'b', 'bananas', 'cherry', 'a', 'John', 'c', 'Elena', 'apple'}

### Join a Set and a Tuple

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

### Update

- The update() method inserts all items from one set into another.

- The update() changes the original set, and does not return a new set.

In [104]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [ ]:
#Use the frozenset() constructor to create a frozenset from any iterable.
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

## Dictionaries

In [105]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

- Dictionary items are ordered, changeable, and do not allow duplicates.

- Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [106]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [107]:
print(len(thisdict))

3

### Dictionary Items - Data Types

The values in dictionary items can be of any data type:

In [107]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

### dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [108]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}