<a href="https://colab.research.google.com/github/julaneelee/Basic-Python-for-Data-analysis/blob/main/Basic_Python_for_Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python101

## Outline

1.   Understanding "Print" command
2.   Creating a comment

## Understanding "Print" command

In [1]:
print("Hello World")
print("Hello","World") # print the result with space
print("Hello"+"World") #print with no space
print("Hello, World")
print(12)
print(45+3)
print(45*3)
print("45ab")
#print("333"+555) #error
#print("ABC"+123) #error
#print(45ab)   #error
print("ABC");print(123);print("Hello Colleague!")  #it does not print in the same line
print("ABC", end="");print(123, end="");print("Hello Colleague!")  #print in the same line but with no space --> this represents nothing ("")
print("ABC", end=" ");print(123, end=" ");print("Hello Colleague!") #print in the same line and with space !!!**Note that:  end = " " , it could be anything inside the double quote such as space " " OR other symbols "+", ",", "abc","*" etc.
print("Hello", end=" "); print("World")
print("I am", 28, "years old.")

Hello World
Hello World
HelloWorld
Hello, World
12
48
135
45ab
ABC
123
Hello Colleague!
ABC123Hello Colleague!
ABC 123 Hello Colleague!
Hello World
I am 28 years old.

## Creating a comment
๊Using "#" in front of the coding for the line you dont want to run

In [2]:
#This is a comment1
#print("Hello World")
print("ABC") #this is a comment2

ABC

## Variable

Rules for Python variables:

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
5. A variable name cannot be any of the Python keywords.

In [3]:
x = 5
y = "Honey"
print(x)
print(y)

5
Honey

In [4]:
x = 4       # x is of type int
x = "Japan" # x is now of type str
print(x)

Japan

In [5]:
x = str(5)    # x will be '5'  #string ตัวอักษร
y = int(5)    # y will be 5  #integer จำนวนเต็ม
z = float(5)  # z will be 5.0 #float จำนวนจริง
print(x,",",y,",",z)

5 , 5 , 5.0

In [9]:
myvar = "John1" ; print(myvar)
my_var = "John2" ; print(my_var)
_my_var = "John3"; print(_my_var)
myVar = "John4"; print(myVar)
MYVAR = "John5"; print(MYVAR)
myvar2 = "John6"; print(myvar2)
#Variable is case-sensitive

John1
John2
John3
John4
John5
John6

In [ ]:
2myvar = "John"  #error; illegal variable name
my-var = "John"  #error; illegal variable name; Dash is not permitted
my var = "John"  #error; illegal variable name

#SyntaxError: invalid decimal literal

In [12]:
#Assigning multiple variables
x, y, z = "Orange", "Banana", "Cherry"
print(x,y,z)
print(x)
print(y)
print(z)

Orange Banana Cherry
Banana
Cherry

In [15]:
x = y = z = "Orange"
print(x,y,z)
print(x); print(y); print(z)

Orange Orange Orange
Orange
Orange
Orange

In [21]:
fruits = ["apple", "banana", "cherry"] #3 values in the list
x, y, z = fruits     #3  values  assign to same variables
print(x); print(y); print(z)

apple
banana
cherry

In [23]:
#Example of an Error case
fruits = ["apple", "banana", "cherry","orange"]  #4 values in the list
x, y, z = fruits   # assign only 3 values to same variable  --> fruits != fruits --> Not possible !
print(x); print(y); print(z)

#ValueError: too many values to unpack (expected 3)

ValueError: too many values to unpack (expected 3)

In [24]:
x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

15
5 John
Python is awesome
Python is awesome

In [ ]:
#Example of error case

x = 5
y = "John"
print(x + y)

In [ ]:
#Assigning the variable in function

#Global variable
x = "awesome"  #Assigning outside function, it will be used inside function

def myfunc():
  print("Python is " + x)

myfunc()

In [25]:
x = "awesome"   #Global variable


def myfunc():
  x = "fantastic"     #Assigning new value to same variable, it will only be used inside function , "Local variable"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [29]:
x = "awesome"
print(x)

def myfunc():
  global x
  x = "fantastic"

myfunc()

print(x)
print("Python is " + x)

awesome
fantastic
Python is fantastic

## Data type