<a href="https://colab.research.google.com/github/julaneelee/Basic-Python-for-Data-analysis/blob/main/Basic_Python_for_Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python101

## Outline

1.   Understanding "Print" command
2.   Creating a comment

## Understanding "Print" command

In [1]:
print("Hello World")
print("Hello","World") # print the result with space
print("Hello"+"World") #print with no space
print("Hello, World")
print(12)
print(45+3)
print(45*3)
print("45ab")
#print("333"+555) #error
#print("ABC"+123) #error
#print(45ab)   #error
print("ABC");print(123);print("Hello Colleague!")  #it does not print in the same line
print("ABC", end="");print(123, end="");print("Hello Colleague!")  #print in the same line but with no space --> this represents nothing ("")
print("ABC", end=" ");print(123, end=" ");print("Hello Colleague!") #print in the same line and with space !!!**Note that:  end = " " , it could be anything inside the double quote such as space " " OR other symbols "+", ",", "abc","*" etc.
print("Hello", end=" "); print("World")
print("I am", 28, "years old.")

Hello World
Hello World
HelloWorld
Hello, World
12
48
135
45ab
ABC
123
Hello Colleague!
ABC123Hello Colleague!
ABC 123 Hello Colleague!
Hello World
I am 28 years old.

## Creating a comment
๊Using "#" in front of the coding for the line you dont want to run

In [2]:
#This is a comment1
#print("Hello World")
print("ABC") #this is a comment2

ABC

## Variable

In [3]:
x = 5
y = "Honey"
print(x)
print(y)

5
Honey

In [4]:
x = 4       # x is of type int
x = "Japan" # x is now of type str
print(x)

Japan

In [5]:
x = str(5)    # x will be '5'  #string ตัวอักษร
y = int(5)    # y will be 5  #integer จำนวนเต็ม
z = float(5)  # z will be 5.0 #float จำนวนจริง
print(x,",",y,",",z)

5 , 5 , 5.0

## Data type